.root {
    -fx-background-color: #3d3d3d;
}


#tuloksetTextArea {
    -fx-background-color: #303030;
    -fx-text-fill: black;
}

#label1 {
    -fx-label-padding: 10px 0 2px 0;
}

.combo-box .list-cell {
    -fx-background-color: #303030;
    -fx-text-fill: black;
}

.combo-box .list-cell:hover {
    -fx-background-color: #888888;
}

.text {
    -fx-fill: white;
}

.button {
    -fx-background-color: #303030;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #4f4f4f;
}

/* Text fields */
#textField1, #textField2 {
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #888888; /* Placeholder text color */
}

/* Text areas */
#textArea1, #textArea2 {
    -fx-background-color: #303030;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #888888; /* Placeholder text color */
}
