.root {
    -fx-background-color: #3d3d3d;
}

.text-area {
    -fx-border-width: 0,5px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 1px;
}

#tuloksetTextArea {
    -fx-control-inner-background: #303030;
    -fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-background-color: #303030;
    -fx-text-fill: black;
}

.combo-box .list-cell:hover {
    -fx-background-color: #888888;
}

.text {
    -fx-fill: white;
}

.button {
    -fx-background-color: #303030;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #4f4f4f;
}

.button:pressed {
    -fx-background-color: #4f4f4f;
}

.button {
    -fx-border-width: 1px;
    -fx-border-color: #ffffff;
    -fx-border-radius: 3px;
}
